<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
        <div class="row" >
            {% for blog in blogs %}
            <div class="col-sm-8">
                 <div class="title" style="width: 70%;height:125px;float: left">
                    <div style="height: 70%">
                        <a href="#"><h4>{{ blog.title }}</h4></a>
                    </div>
                    <div style="height: 30%"">
                        <span class="label">【{{ blog.author }}】</span>
                        <span class="label" >【{{ blog.category }}】</span>
                        <span class="label" >【{{ blog.标签 }}】</span>
                        <span class="label" >【{{ blog.pub }}】</span>
                    </div>
                 </div>
                 <div class="col-sm-6" style="width: 30%;float: left;height: 125px;margin-top: 5px">
                    <a href="#" class="thumbnail">
                        <img src={%static "images/blogs/bgimg.jpg" %} alt="通用的占位符缩略图">
                    </a>
                </div>
            </div>
            {% endfor %}  }
        </div>
    </div>

</body>
</html>