{% extends 'blogs/base.html' %}
{% load staticfiles %}
{% block title %}个人博客{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{%static "blogs/css/index.css" %}">
{% endblock %}
{% block content %}
    <div class="jumbotron text-center">
    {% for welcome in welcomes %}
        <h2>{{ welcome.title }}</h2><br/>
        <p>{{ welcome.content }}</p>
    {% endfor %}
    </div>
<!--
 style="margin-top: 10px;margin-left:-20px;float:left;background-color:rgba(219,243,255,0.6);border-radius:15px;box-shadow: 3px 3px 5px #666;"-->
{% endblock %}