{% extends 'blogs/base.html' %}
{% load staticfiles %}
{% block title %}个人博客{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{%static "blogs/css/index.css" %}">
{% endblock %}
{% block content %}

<div class="jumbotron text-center" style="margin-bottom:0;background-color: #fdfff0">
  <h2>欢迎来到NameNul的博客</h2><br/>
  <p>人生的价值，并不是用时间，而是用深度量去衡量的。——列夫·托尔斯泰！</p>
</div>
<div class="container" style="margin-bottom:0;">
    <div class="col-sm-8" style="background-color:rgba(219,243,255,0.6);border-radius:15px;box-shadow: 3px 3px 5px #666;">
      <h5>副标题</h5>
      <div class="fakeimg">图像</div>
      <p>菜鸟教程，学的不仅是技术，更是梦想！！！菜鸟教程，学的不仅是技术，更是梦想！！！菜鸟教程，学的不仅是技术，更是梦想！！！</p>
    </div>
    <div class="col-sm-8">
      <h5>副标题</h5>
      <div class="fakeimg">图像</div>
      <p>菜鸟教程，学的不仅是技术，更是梦想！！！菜鸟教程，学的不仅是技术，更是梦想！！！菜鸟教程，学的不仅是技术，更是梦想！！！</p>
    </div>
    <div class="col-sm-8">
      <h5>副标题</h5>
      <div class="fakeimg">图像</div>
      <p>菜鸟教程，学的不仅是技术，更是梦想！！！菜鸟教程，学的不仅是技术，更是梦想！！！菜鸟教程，学的不仅是技术，更是梦想！！！</p>
    </div>
    <!--
    <div class="row">
        <div class="col-sm-4">
          <h3>关于我</h3>
          <h5>我的照片:</h5>
          <div class="fakeimg">这边插入图像</div>
          <p>关于我的介绍..</p>
          <h3>链接</h3>
          <p>描述文本。</p>
          <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="#">链接 1</a></li>
            <li><a href="#">链接 2</a></li>
            <li><a href="#">链接 3</a></li>
          </ul>
          <hr class="hidden-sm hidden-md hidden-lg">
        </div>
    </div>
</div>


</div>
    <div class="jumbotron text-center" style="margin-bottom:0">
        <p>底部内容</p>
    </div>
-->
{% endblock %}